<div class="scroll-container">      
    <section class="scroll-section after-video">
        <app-navigation style="position: absolute; z-index:20; width: 100%"></app-navigation>
        <div class="video-wrapper" id="top">
          <video
            #bgVideo
            class="video"
            autoplay
            muted
            playsinline
            (ended)="onVideoEnded()"
            *ngIf="!isHidden"
          >
            <source src="assets/media/rezervace_comp.mp4" type="video/mp4" />
            Your browser does not support HTML5 video.
          </video>
        
          
          <img
            *ngIf="isHidden"
            src="assets/media/rezervace_still.png"
            alt="Video placeholder"
            class="video"
          />
        
          <div class="controls">
            <button class="control-btn" (click)="toggleMute()">
              <i class="bi" [ngClass]="isMuted ? 'bi-volume-mute fs-3' : 'bi-volume-up fs-3'"></i>
            </button>
          
            <button class="control-btn" (click)="toggleVideo()">
              <i class="bi"  [ngClass]="isHidden ? 'bi-eye-slash fs-3' : 'bi-eye fs-3'"></i>
            </button>
          </div>
        
          
          <button class="scroll-btn"  (click)="scrollDown()"><i class="bi bi-arrow-down-circle-fill fs-3"></i></button>
      </div>
    </section>
    <section class="scroll-section-content">
      <div class="container-back">
        <div id="courses" class="header-main">
          Courses
        </div>
        <div class="d-flex flex-wrap gap-3 justify-content-center">
          <app-course *ngFor="let course of courses" [course]="course"></app-course>
        </div>
      </div>
    </section>
    <section class="scroll-section-content">
      <div class="container-back">
        <app-calendar id="calendar"></app-calendar>
        <footer>
          <app-footer />
        </footer>
      </div>  
    </section>
</div>  
