.profile-container {
  padding: 2rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .username {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .name {
      font-size: 1rem;
    }

    .edit-btn {
      margin-top: 0.5rem;
      padding: 0.4rem 1rem;
      background-color: #ccc;
      border: none;
      border-radius: 5px;
    }
  }

  .settings-btn {
    padding: 0.4rem 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
}

.profile-main {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 50px;

  .courses, .upcoming {
    flex: 1;
  }

  .course-card, .upcoming-card {
    display: flex;
    background-color: #f3f3f3;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;

    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
    }

    .course-info, .coach-info {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .training-date {
        color: red;
        font-weight: bold;
      }

      .calendar-btn, .more-info-btn {
        margin-top: 0.5rem;
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 0.3rem 0.7rem;
        border-radius: 5px;
        font-size: 0.8rem;
      }
    }
  }
  .upcoming-card {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%
    }
  }
}
