<app-navigation />

<div class="section-content">    
    <div *ngIf="course" class="container-back">
        <div class="header-main">
            {{ course.serviceName }}
        </div>
        <div class="main-info">
            <div *ngIf="trainer">
                Trainer: {{ trainer }}
            </div>
            <div>
                Start at {{ course.start | date:'HH:mm, dd.MM.yyyy' }}
            </div>
            <div>
                End at {{ course.end | date:'HH:mm, dd.MM.yyyy' }}
            </div>
            <div>
                {{ course.roomName }}
            </div>
            <div>
                Price: {{ course.price }}
            </div>
            <div>
                Spots available {{ course.currentCapacity }}/{{ course.totalCapacity }}
            </div>
        </div>
        <button class="btn">Enroll</button>
    </div>
</div>

<app-footer />
