<div id="head-div">
  <a id="logo" class="btn" routerLink="">REZERVACE+</a>

  <nav id="navigation-bar" [ngClass]="{'open': isMenuOpen}">
    <a class="nav-btn btn" href="#" routerLink="">Home</a>
    <a class="nav-btn btn" href="#calendar">My calendar</a>
    <a class="nav-btn btn" href="#courses">Courses</a>
    <a class="nav-btn btn" routerLink="/profile">Profile</a>
    <a class="nav-btn btn balance-mobile" routerLink="/payment">
      {{balance}},-
      <img src="assets/icons/robucks.svg" alt="money" class="icon" />
    </a>
   
  </nav>

  <div class="nav-btns">
    <div id="log-btns" *ngIf="!isLoggedIn">
    
      <a id="login-btn" class="nav-btn btn" routerLink="/login">Log in</a>
      <a id="signup-btn" class="nav-btn btn" routerLink="/signup">Sign up</a>
    </div>
  
    <div *ngIf="isLoggedIn" class="navigation-logged-in">
      <nav>
        <button id="notification-button" (click)="toggleNotifications()">
          <mat-icon id="noti">notifications</mat-icon>
          
        </button>
      </nav>
      <button class="nav-balance nav-logout balance-desktop" routerLink="/payment">
        {{balance}},-
        <img src="assets/icons/robucks.svg" alt="money" class="icon" />
      </button>
      <div id="logout-btn">
        <button class="nav-btn" (click)="logout()">
          Log out
        </button>
      </div>
    </div>
    <button class="menu-btn" (click)="isMenuOpen = !isMenuOpen" id="hamburger-button">
      <i class="bi"  [ngClass]="isMenuOpen ? 'bi bi-x-lg fs-3' : 'bi bi-list fs-3'"></i>
    </button>
  </div>
  
</div>

<app-notifications *ngIf="showNotifications" (closed)="showNotifications = false"></app-notifications>

