<a id="logo" routerLink="">REZERVACE+</a>

<div id="restore-block">
    <div id="restore">Forgot a password?</div>
    <div class="form-container">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <label for="password">Password 
                <span class="required">*</span>
                <p class="error-message" *ngIf="resetForm.controls['password'].invalid && resetForm.controls['password'].touched && resetForm.get('password')?.value ">
                    Password must be at least 8 characters long and contian at least number, uppercase and lowercase letters, at least one special character
                </p>
            </label>

            <div class="container">
                <input id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" required
                    [ngClass]="{'error-input': resetForm.controls['password'].invalid && 
                        resetForm.controls['password'].touched && 
                        resetForm.get('password')?.value}">
                <button type="button" class="toggle-password" (click)="hidePassword = !hidePassword">👁</button>
            </div>


            <label for="repeatPassword">Repeat password 
                <span class="required">*</span>
                <p class="error-message"
                *ngIf="resetForm.get('repeatPassword')?.value 
                    && resetForm.get('password')?.value !== resetForm.get('repeatPassword')?.value
                    && resetForm.get('repeatPassword')?.touched">
                    Passwords do not match
                </p>
            </label>
            
            <div class="container">
                <input id="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="repeatPassword" placeholder="Password" required
                    [ngClass]="{'error-input': resetForm.get('repeatPassword')?.value 
                        && resetForm.get('password')?.value !== resetForm.get('repeatPassword')?.value
                        && resetForm.get('repeatPassword')?.touched}">
                <button type="button" class="toggle-password" (click)="hideRepeatPassword = !hideRepeatPassword">👁</button>
            </div>

            <div class="container">
                <button id="submit" type="submit" class="sign-up-btn">Reset a password</button>
            </div>

            <!-- <div class="container justify-content-center" *ngIf="loginError">
                <p class="text-danger">
                    {{ loginError }}
                </p>
            </div> -->
        </form>
    </div>
</div>
