<div class="card">
    <div class="image-wrapper">
        <img class="card-img-top cource-img" src="https://media.istockphoto.com/id/465383082/cs/fotografie/plavkyn%C4%9B-u-baz%C3%A9nu.jpg?s=612x612&w=0&k=20&c=PnaXB806MSefeEXG-slq5Fd1_eeaLSR2IsphBrWqmYI=">
    </div>
    <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <div class="d-flex">
            <div class="">
                <a class="btn buy" href="#">Push Right on md+</a>
            </div>
            <div class="ms-sm-auto">
                <a class="btn info" href="#">More info</a>
            </div>
        </div>
    </div>
</div>
